<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          
    package="gesture.jnu.motionclassifier"
    >
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActionCollectActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name=".ActionCollectService" android:enabled="true" android:exported="true"/>

    </application>

</manifest>
